$gap: 1em;

.decks {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: $gap;

  .deckbuilder {
    display: flex;
    justify-content: space-between;
    gap: $gap;
    flex: 1;
  }

  .deck {
    flex: 0 0 calc(40% - (0.5 * $gap));
    background-color: brown; // TODO: Delete Later
  }

  .cards {
    flex: 0 0 calc(60% - (0.5 * $gap));
    background-color: purple; // TODO: Delete Later
  }
}