# General

*.tmp
.DS_Store
Thumbs.db

# IDEs and Editors

.idea/
.vscode
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Logs

npm-debug.log*
yarn-error.log*

# Frontend

*/node_modules
*/dist
*/tmp
*/out-tsc
*/.angular/cache
*/coverage
*/libpeerconnection.log
*/testem.log
*/typings
*/.sass-cache/
*/connect.lock
ssl

# Backend

appsettings.json

## Build

bin/
obj/
*.dll
*.exe
*.pdb

## Database

*.db
*.sqlite
*.db-shm
*.db-wal

## Images

*/wwwroot
!*/wwwroot.tar.gz
!*/wwwroot.zip

# Scripts

*.venv
__pycache__
