@use '../../../styles/mixins';

$gap: 1rem;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  padding: $gap; // TODO: Temp
  border-bottom: 1px solid green; // TODO: Delete later
}

.items {
  display: flex;
  gap: $gap;
  align-items: center;

  ul {
    display: flex;
    gap: $gap;
  }
}

.logo {
  @include mixins.matrix-ii-inline-ot-extrabold;
  font-size: var(--logo-size);
  -webkit-text-stroke: 1px var(--color-accent-primary);
}