$gap: 1rem;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  padding: $gap; // TODO: Temp
  border-bottom: 1px solid black; // TODO: Delete later
}

.items {
  display: flex;
  gap: $gap;
  align-items: center;

  ul {
    display: flex;
    gap: $gap;
  }
}