/*** FILE STRUCTURE ***
 * src/
 *   styles/
 *     _variables.scss    <- All design tokens
 *     _mixins.scss       <- All mixins
 *     _reset.scss        <- CSS reset
 *   styles.scss          <- ONLY imports, no definitions
 **********************/

/* You can add global styles to this file, and also import other style files */

@use 'styles/variables' as vars;
@use 'styles/mixins';
@use 'styles/reset';

:root {
  color-scheme: light dark;

  // Layout
  --header-height: #{vars.layout(header-height)};
  --footer-height: #{vars.layout(footer-height)};
  --page-height: calc(100vh - var(--header-height) - var(--footer-height));
  --border-radius: #{vars.layout(border-radius)};

  // Colors
  --color-text: light-dark(#{vars.color(text-light)}, #{vars.color(text-dark)});
  --color-1: light-dark(#{vars.color(light-1)}, #{vars.color(dark-1)});
  --color-2: light-dark(#{vars.color(light-2)}, #{vars.color(dark-2)});
  --color-3: light-dark(#{vars.color(light-3)}, #{vars.color(dark-3)});

  // Accent Color Tokens
  --color-accent-1-primary: #{vars.color(accent-1-primary)};
  --color-accent-1-secondary: #{vars.color(accent-1-secondary)};
  --color-accent-2-primary: #{vars.color(accent-2-primary)};
  --color-accent-2-secondary: #{vars.color(accent-2-secondary)};

  // Accent Color Variables
  --color-accent-primary: light-dark(var(--color-accent-1-primary), var(--color-accent-2-primary));
  --color-accent-secondary: light-dark(var(--color-accent-1-secondary), var(--color-accent-2-secondary));

  // Feedback
  --color-success: #{vars.color(success)};
  --color-warning: #{vars.color(warning)};
  --color-error: #{vars.color(error)};

  // Fonts
  --font-family: #{vars.font(family-primary)};
  --font-size-sm: #{vars.font(size-sm)};
  --font-size-base: #{vars.font(size-base)};
  --font-size-lg: #{vars.font(size-lg)};

  // Other
  --white-black: light-dark(#fff, #121212);
  --black-white: light-dark(#121212, #fff);
  --white-black-hover: light-dark(#eee, #000);
  --black-white-hover: light-dark(#000, #eee);
}

// Global Styles
body {
  font-family: var(--font-family);
  background: var(--color-2);
  color: var(--color-text);
}

.btn {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  background: var(--color-accent-primary);
  color: var(--black-white);

  &:hover {
    background: var(--color-accent-secondary);
    color: var(--black-white-hover);
  }
}